<div class="flex gap-2 items-center mb-1 relative">
    <div class="group">
        <img @mouseenter="sethint(2,$el)" @mouseleave="hint=0" class="cursor-pointer" src="/images/icons/info.svg" alt="">
    </div>

    <span class="subline">Easing</span>
</div>

<hr class="border-gray-100 mb-4">

<div class="mb-4">
    <div class="grid grid-cols-2 gap-x-6 gap-y-4">
        <button 
            :class="$store.properties.ease == 'ease-linear' ? 'ring-1 ring-violet-300 ring-inset bg-violet-50' : ''"
            class="bg-gray-100 hover:bg-violet-50 p-4 flex flex-col items-center"
            @click="set('ease','ease-linear')"
        >
            <img class="w-8 h-8 mb-1" :src="$store.properties.ease == 'ease-linear' ? '/images/icons/ease-linear-active.svg' : '/images/icons/ease-linear.svg'" alt="">

            ease linear
        </button>

        <button
            @click="set('ease','ease-in')"
            :class="$store.properties.ease == 'ease-in' ? 'ring-1 ring-violet-300 ring-inset bg-violet-50' : ''"
            class="bg-gray-100 hover:bg-violet-50 p-4 flex flex-col items-center"
        >
            <img class="w-8 h-8 mb-1" :src="$store.properties.ease == 'ease-in' ? '/images/icons/ease-in-active.svg' : '/images/icons/ease-in.svg'" alt="">

            ease in
        </button>

        <button
            @click="set('ease','ease-out')"
            :class="$store.properties.ease == 'ease-out' ? 'ring-1 ring-violet-300 ring-inset bg-violet-50' : ''"
            class="bg-gray-100 hover:bg-violet-50 p-4 flex flex-col items-center"
        >
            <img class="w-8 h-8 mb-1" :src="$store.properties.ease == 'ease-out' ? '/images/icons/ease-out-active.svg' : '/images/icons/ease-out.svg'" alt="">

            ease out
        </button>

        <button
            @click="set('ease', 'ease-in-out')"
            :class="$store.properties.ease == 'ease-in-out' ? 'ring-1 ring-violet-300 ring-inset bg-violet-50' : ''"
            class="bg-gray-100 hover:bg-violet-50 p-4 flex flex-col items-center"
        >
            <img class="w-8 h-8 mb-1" :src="$store.properties.ease == 'ease-in-out' ? '/images/icons/ease-in-out-active.svg' : '/images/icons/ease-in-out.svg'" alt="">

            ease in out
        </button>
    </div>
</div>
