<button class="w-12 h-12 place-self-end self-center flex flex-col gap-3.5 justify-center px-1 items-center lg:hidden" @click="menu = !menu">
    <span :class="menu ? 'rotate-45 translate-y-2':''" class="block h-[3px] w-full bg-violet-500 transition"></span>
    <span :class="menu ? '-rotate-45 -translate-y-2':''" class="block h-[3px] w-full bg-violet-500 transition"></span>
</button>

<div class="absolute top-16 right-0" x-show="menu" x-collapse x-cloak>
    <nav class=" flex flex-col bg-gray-100 p-4 px-6 text-gray-900 text-xl gap-3 lg:hidden">
        <a class="flex gap-3 group" href="/">
            <img class="w-4 invert opacity-50 group-hover:translate-x-1 transition" src="/images/icons/arrow-right-white.svg" alt="">

            <span class="{% if page === 'index' %}border-b{% endif %}">
                Configurator
            </span>
        </a>

        <a class="flex gap-3 group" href="/about.html">
            <img class="w-4 invert opacity-50 group-hover:translate-x-1 transition" src="/images/icons/arrow-right-white.svg" alt="">

            <span class="{% if page === 'about' %}border-b{% endif %}">
                About
            </span>
        </a>

        <a class="flex gap-3 group" href="https://github.com/new-data-services/tailwindcss-animated">
            <img class="w-4 invert opacity-50 group-hover:translate-x-1 transition" src="/images/icons/arrow-right-white.svg" alt="">
            
            Github
        </a>
    </nav>
</div>
