<div class="grow flex items-center justify-center preview transition pointer-events-none [&>*]:pointer-events-auto" :style="preview.getCssStyles()">
    <div x-show="preview.mode === 'logo'" x-cloak>
        <img 
            :class="computedClasses()"
            :style="arbitraryValues()"
            class="previewItem"
            src="/images/icons/logo.svg" 
            alt=""
        >
    </div>

    <div x-show="preview.mode === 'headline'" x-cloak>
        <span
            :class="computedClasses()"
            :style="arbitraryValues()"
            class="previewItem h1 block text-center"
        >
            Build your custom<br>
            animations with ease.
        </span>
    </div>

    <div x-show="preview.mode === 'text'" x-cloak>
        <p
            :class="computedClasses()"
            :style="arbitraryValues()"
            class="previewItem max-w-sm"
        >
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, tempora
            officia! Autem iusto dolores quam, eos quasi recusandae aut hic aperiam
            quas ipsum obcaecati repudiandae consequatur iure vero deleniti distinctio.
        </p>
    </div>

    <div x-show="preview.mode === 'image'" x-cloak>
        <img
            :class="computedClasses()"
            :style="arbitraryValues()"
            class="previewItem max-w-md"
            src="/images/demo-jezael-melgoza.jpg"
            alt=""
        >
    </div>

    <div x-show="preview.mode === 'button'" x-cloak>
        <button 
            :class="computedClasses()"
            :style="arbitraryValues()"
            class="previewItem bg-violet-300 py-2 px-3 hover:bg-violet-200 active:bg-violet-300 duration-75 text-violet-900 transition-colors"
        >
            Get started now
        </button>
    </div>
</div>
