<div class="flex gap-2 items-center mb-1 relative">
    <div class="group">
        <img @mouseenter="sethint(1,$el)" @mouseleave="hint=0" class="cursor-pointer" src="/images/icons/info.svg" alt="">
    </div>

    <span class="subline">Timing</span>

    <span 
        @click="reset()"
        class="p-small ml-auto cursor-pointer text-violet-500 hover:text-violet-300 active:text-violet-500"
    >
        Reset all properties
    </span>
</div>

<hr class="border-gray-100 mb-4">

<div class="mb-4 grid gap-4">
    <div class="grid grid-cols-2 gap-6">
        <button
            :class="$store.properties.count != 'infinite' ? 'ring-1 ring-violet-300 bg-violet-50' : ''" 
            class="bg-gray-100 hover:bg-violet-50 p-4 flex flex-col items-center hover:text-violet-900" 
            @click="set('count', 'once')"
        >
            <img class="w-8 h-8" :src="$store.properties.timing != 'infinite' ? '/images/icons/iterate-active.svg':'/images/icons/iterate.svg'" alt="">

            iterations
        </button>

        <button
            :class="$store.properties.count == 'infinite' ? 'ring-1 ring-violet-300 bg-violet-50' : ''" 
            class="bg-gray-100 hover:bg-violet-50 p-4 flex flex-col items-center hover:text-violet-900" 
            @click="set('count', 'infinite')"
        >
            <img class="w-9 h-8" :src="$store.properties.count == 'infinite' ? '/images/icons/infinite-active.svg' : '/images/icons/infinite.svg'" alt="">

            infinite
        </button>
    </div>

    <div :class="$store.properties.count == 'infinite' ? 'opacity-40 pointer-events-none' : ''" class="grid grid-cols-3">
        <button
            @click="set('count', 'once')"
            :class="$store.properties.count == 'once' ? 'ring-1 ring-violet-300 ring-inset bg-violet-50 border-gray-100' : 'border-gray-200'"
            class="bg-gray-100 hover:bg-violet-50 p-4 border-r" 
        >
            once
        </button>

        <button
            @click="set('count', 'twice')"
            :class="$store.properties.count == 'twice' ? 'ring-1 ring-violet-300 ring-inset bg-violet-50 border-gray-100' : 'border-gray-200'" 
            class="bg-gray-100 hover:bg-violet-50 p-4 border-r"  
        >
            twice
        </button>

        <button
            @click="set('count', 'thrice')"
            :class="$store.properties.count == 'thrice' ? 'ring-1 ring-violet-300 ring-inset bg-violet-50 border-gray-100' : ''" 
            class="bg-gray-100 hover:bg-violet-50 p-4"  
        >
            thrice
        </button>
    </div>

    <div class="grid grid-cols-2 gap-6">
        <div class="flex relative">
            <label for="duration">
                <input
                    name="duration"
                    type="number"
                    class="border border-gray-200 bg-gray-50 p-3 px-4 w-full focus:border-violet-300 focus:bg-white peer"
                    placeholder=" "
                    x-model="$store.properties.duration"
                >

                <span class="pointer-events-none absolute text-gray-300 bg-gray-50 transition-all px-1 input-label">
                    duration
                </span>
            </label>

            <span class="block bg-gray-100 border border-gray-200 p-3 px-4 border-l-0">ms</span>
        </div>

        <div class="flex relative">
            <label for="delay">
                <input 
                    name="delay"
                    type="number"
                    class="border border-gray-200 bg-gray-50 p-3 px-4 w-full focus:border-violet-300 focus:bg-white peer"
                    placeholder=" "
                    x-model="$store.properties.delay"
                >

                <span class="pointer-events-none absolute text-gray-300 bg-gray-50 transition-all px-1 input-label">
                    delay
                </span>
            </label>

            <span class="block bg-gray-100 border border-gray-200 p-3 px-4 border-l-0">ms</span>
        </div>
    </div>
</div>
