@layer base {
    @font-face {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('/fonts/ubuntu-v20-latin-300.woff2') format('woff2'),
             url('/fonts/ubuntu-v20-latin-300.woff') format('woff');
    }

    @font-face {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/ubuntu-v20-latin-regular.woff2') format('woff2'),
             url('/fonts/ubuntu-v20-latin-regular.woff') format('woff');
    }

    @font-face {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/ubuntu-v20-latin-500.woff2') format('woff2'),
             url('/fonts/ubuntu-v20-latin-500.woff') format('woff');
    }

    @font-face {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/ubuntu-v20-latin-700.woff2') format('woff2'),
             url('/fonts/ubuntu-v20-latin-700.woff') format('woff');
    }

    @font-face {
        font-family: 'Ubuntu-Mono';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/ubuntu-mono-v15-latin-regular.woff2') format('woff2'),
             url('/fonts/ubuntu-mono-v15-latin-regular.woff') format('woff');
    }
}
