:root {
    color-scheme: light only;
    font-size: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

html {
    @apply w-full h-full overflow-x-hidden overflow-y-scroll;
}

body {
    @apply w-full h-full font-sans font-normal bg-white text-black;
}

strong {
    @apply font-bold;
}

:focus {
    outline: none;
}

/* hide scrollbar but allow scrolling */
.hide-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.print {
  word-spacing: 9999px;
}

[x-cloak] {
    display: none !important;
}

.cursor-flash::after {
    animation-name: cursor-flash;
    animation-duration: 1s;
    animation-transition: none;
    animation-iteration-count:infinite;
}

@keyframes cursor-flash {
  0% {opacity: 1;}
  49% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}