span, p, .p {
    @apply text-gray-900
}

h1, .h1 {
    @apply text-gray-900 font-bold tracking-tighter text-[2rem] lg:text-5xl;
    line-height:95%;
}

h2, .h2 {
    @apply text-gray-900 font-bold tracking-tight leading-7 lg:leading-9 text-2xl lg:text-4xl;
}

h3, .h3 {
    @apply text-gray-900 font-bold leading-5 lg:leading-7 text-lg lg:text-2xl;
}

h4, .h4 {
    @apply text-gray-900 text-xl leading-6;
}

h5, .h5 {
    @apply text-gray-900 text-base font-medium leading-5;
}

h6, .h6 {
    @apply text-gray-900 text-sm font-medium leading-5;
}

.subline {
    @apply text-gray-300 text-xs uppercase tracking-wide;
}

p, .p {
    @apply text-base tracking-normal font-normal;
    line-height:150%;
}

.p-small {
    @apply text-xs tracking-normal font-normal;
    line-height:150%;
}
