<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <title>
        {% block title %}
            Tailwind CSS Animated
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="robots" content="index,follow">

    <link rel="shortcut icon" href="/favicons/favicon.ico">

    <meta name="theme-color" content="#ffffff">
    <meta name="application-name" content="Tailwind CSS Animated">
    <meta name="color-scheme" content="light">

    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    {% block content %}
    {% endblock %}

    <script type="module" src="/js/app.js"></script>
</body>

</html>
