.tooltip {
    @apply cursor-help relative;

    .bubble {
        @apply p-small text-white bg-gray-900 px-3 py-2 absolute z-20 scale-0 transition-transform;
        content: attr(data-tip);
        width: 12rem;
        min-height: 4rem;
        top: -1rem;
        left: 2rem;
        transform-origin: 0 1.5rem;

        &::before {
            @apply absolute border-transparent border-r-gray-900;
            content: "";
            border-width: .75rem;
            border-right-width: 1rem;
            top: .7rem;
            left: -1.7rem;
        }
    }

    .bubble-question {
        @apply p-small text-white bg-gray-700 px-3 py-2 absolute z-20 
        scale-0 transition-transform origin-bottom bottom-8 left-1/2 -translate-x-1/2;
        content: attr(data-tip);
        width: 12rem;
        min-height: 4rem;

        &::before {
            @apply absolute border-transparent border-t-gray-700 bottom-0 left-1/2 -translate-x-1/2 translate-y-full;
            content: "";
            border-width: .75rem;
            border-top-width: 1rem;
        }
    }

    &:hover .bubble, &:hover .bubble-question {
        @apply scale-100 delay-100;
    }
}
