{% extends "website/views/layout.html" %}

{% block title %}
    Configurator | Tailwind CSS Animated
{% endblock %}

{% block content %}
    <div id="mobile" x-data="{ menu:false }" class="bg-gray-100 h-screen bg-dotted lg:hidden">
        <header class="grid grid-cols-4 items-center bg-gray-900 text-white py-2.5 px-6 justify-between w-full h-16">
            <a class="mr-auto" href="/">
                <img class="w-20 hover:scale-105 transition" src="/images/icons/wave.svg" alt="">
            </a>

            <h1 class="uppercase mx-auto p text-white col-span-2 text-center leading-5">Tailwind CSS Animated</h1>

            {% include "website/views/partials/menu-mobile.html" %}
        </header>

        <div class="h-full flex flex-col items-center justify-center px-8">
            <img class="mb-8 w-48" src="/images/icons/mobile-error.svg" alt="">

            <h3 class="text-center mb-4 max-w-xs">It seems like you’re on a mobile device.</h3>

            <p class="p text-center mb-8 max-w-xs">Try again on a desktop device or learn more about Tailwind CSS Animated instead.</p>

            <a href="/" class="flex items-center gap-2 py-2 px-3 bg-violet-500 text-white hover:bg-opacity-80">
                About

                <img class="w-5" src="/images/icons/arrow-right-white.svg" alt="">
            </a>
        </div>
    </div>

    <div 
        id="app"
        class="hidden lg:block"
        x-data="configurator()"
    >
        <header class="grid grid-cols-3 items-center bg-gray-900 text-white py-2.5 px-6 justify-between absolute w-full h-16 z-10">
            <a class="mr-auto" href="/">
                <img class="w-20 hover:scale-105 transition" src="/images/icons/wave.svg" alt="">
            </a>

            <h1 class="uppercase mx-auto p text-white">Tailwind CSS Animated</h1>

            {% include "website/views/partials/menu-desktop.html" %}
        </header>

        <div>
            <div class="w-full bg-gray-100 h-[100vh] pt-16 flex">
                <div :style="panels.getCssStyles('left')" class="bg-white py-8 overflow-y-scroll hide-scrollbar shrink-0 z-10 w-1/5 min-w-[200px]">
                    {% include "website/views/partials/animations.html" %}
                </div>

                <div 
                    @drag="panels.setWidth('left', event.pageX)"
                    draggable="true" 
                    class="h-auto border-r border-transparent hover:border-cyan-500 transition delay-100 scale-x-[400%] relative z-30 cursor-ew-resize">
                </div>

                <div class="grow bg-dotted flex flex-col overflow-hidden">
                    {% include "website/views/partials/preview.html" %}

                    {% include "website/views/partials/controls.html" %}
                </div>

                <div
                    @drag="panels.setWidth('right', window.innerWidth - event.pageX)"
                    draggable="true" 
                    class="h-auto border-r border-transparent hover:border-cyan-500 transition delay-100 scale-x-[400%] z-30 cursor-ew-resize">
                </div>

                <div :style="panels.getCssStyles('right')" class="bg-white flex flex-col relative shrink-0 z-10 w-1/4 min-w-[350px]">
                    <div class="py-8 px-6 h-full hide-scrollbar pb-64 overflow-y-auto">
                        {% include "website/views/partials/timing.html" %}

                        {% include "website/views/partials/easing.html" %}

                        {% include "website/views/partials/direction.html" %}

                        {% include "website/views/partials/fillmode.html" %}
                    </div>

                    <div class="bg-white h-76 border-t border-gray-100 p-3 flex flex-col absolute w-full bottom-0">
                        <div class="bg-gray-900 px-5 hide-scrollbar py-4 font-mono break-lines">
                            <div 
                                id="output"
                                x-ref="output"
                                class="text-cyan-500 print"
                                x-text="computedClasses()"
                            >
                            </div>
    
                            <div 
                                x-data="{presets: presetClasses()}"
                                x-init="$watch('presetClasses()', value => presets = value)"
                            >
                                <template x-for="preset in presets">
                                    <div class="relative flex text-cyan-500/50 items-center gap-2">
                                        <span 
                                            class="cursor-not-allowed select-none text-cyan-500/50" 
                                            x-text="preset">
                                        </span>

                                        <div class="tooltip">
                                            <svg class="w-3.5" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g opacity="0.5">
                                                <path d="M13.5 1V0.5H13H1H0.5V1V13V13.5H1H13H13.5V13V1Z" stroke="#74EEFF" stroke-miterlimit="10" stroke-linecap="square"/>
                                                <rect x="6" y="9" width="2" height="2" fill="#74EEFF"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8C8.38071 8 9.5 6.88071 9.5 5.5C9.5 4.11929 8.38071 3 7 3C5.61929 3 4.5 4.11929 4.5 5.5H5.5H6C6 4.94772 6.44772 4.5 7 4.5C7.55228 4.5 8 4.94772 8 5.5C8 6.05228 7.55228 6.5 7 6.5H6V7.79198C6.30623 7.92578 6.64445 8 7 8Z" fill="#74EEFF"/>
                                                </g>
                                            </svg>
                                            
                                            <div class="bubble-question select-none">
                                                Deactivated classes represent properties that are applied by default for the selected animation
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>

                        <div class="flex w-full">
                            <button
                                @click="copy.classes()"
                                class="bg-cyan-500 p-2.5 px-4 hover:bg-opacity-60 transition justify-center flex gap-2 items-center shrink-0 active:bg-opacity-100 grow"
                            >
                                <img class="w-4.5 opacity-50" src="/images/icons/copy.svg" alt="">

                                Copy animation classes
                            </button>

                            <button
                                @click="copy.url()"
                                class="bg-violet-300 p-2.5 px-4 hover:bg-violet-200 transition shrink-0 text-violet-900 active:bg-violet-300"
                            >
                                Copy link
                            </button>
                        </div>

                        <span id="copyFeedback" class="pointer-events-none absolute bg-violet-500 text-violet-200 p-1 px-2 right-3 opacity-0">Copied to clipboard</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
