{% extends "website/views/layout.html" %}

{% block title %}
    Configurator | Tailwind CSS Animated
{% endblock %}

{% block content %}
    <div id="mobile" x-data="{ menu:false }" class="bg-gray-100 h-screen bg-dotted lg:hidden">
        <header class="grid grid-cols-4 items-center bg-gray-900 text-white py-2.5 px-6 justify-between w-full h-16">
            <a class="mr-auto" href="#">
                <img class="w-20 hover:scale-105 transition" src="/images/icons/wave.svg" alt="">
            </a>

            <h1 class="uppercase mx-auto p text-white col-span-2 text-center leading-5">Tailwindcss Animated</h1>

            {% include "website/views/partials/menu-mobile.html" %}
        </header>

        <div class="h-full flex flex-col items-center justify-center px-8">
            <img class="mb-8 w-48" src="/images/icons/mobile-error.svg" alt="">

            <h3 class="text-center mb-4 max-w-xs">It seems like you’re on a mobile device.</h3>

            <p class="p text-center mb-8 max-w-xs">Try again on a desktop device or learn more about Tailwindcss Animated instead.</p>

            <a href="/" class="flex items-center gap-2 py-2 px-3 bg-violet-500 text-white hover:bg-opacity-80">
                About

                <img class="w-5" src="/images/icons/arrow-right-white.svg" alt="">
            </a>
        </div>
    </div>

    <div 
        id="app"
        class="hidden lg:block"
        x-data="configurator()"
    >
        <header class="grid grid-cols-3 items-center bg-gray-900 text-white py-2.5 px-6 justify-between absolute w-full h-16 z-10">
            <a class="mr-auto" href="#">
                <img class="w-20 hover:scale-105 transition" src="/images/icons/wave.svg" alt="">
            </a>

            <h1 class="uppercase mx-auto p text-white">Tailwindcss Animated</h1>

            {% include "website/views/partials/menu-desktop.html" %}
        </header>

        <div>
            <div class="w-full bg-gray-100 h-[100vh] pt-16 flex">
                <div :style="panels.getCssStyles('left')" class="bg-white py-8 overflow-y-scroll hide-scrollbar shrink-0 z-10 w-1/5 min-w-[200px]">
                    {% include "website/views/partials/animations.html" %}
                </div>

                <div 
                    @drag="panels.setWidth('left', event.pageX)"
                    draggable="true" 
                    class="h-auto border-r border-transparent hover:border-cyan-500 transition delay-100 scale-x-[400%] relative z-30 cursor-ew-resize">
                </div>

                <div class="grow bg-dotted flex flex-col overflow-hidden">
                    {% include "website/views/partials/preview.html" %}

                    {% include "website/views/partials/controls.html" %}
                </div>

                <div
                    @drag="panels.setWidth('right', window.innerWidth - event.pageX)"
                    draggable="true" 
                    class="h-auto border-r border-transparent hover:border-cyan-500 transition delay-100 scale-x-[400%] z-30 cursor-ew-resize">
                </div>

                <div :style="panels.getCssStyles('right')" class="bg-white flex flex-col relative shrink-0 z-10 w-1/4 min-w-[350px]">
                    <div class="py-8 px-6 h-full hide-scrollbar pb-64 overflow-y-auto">
                        {% include "website/views/partials/timing.html" %}

                        {% include "website/views/partials/easing.html" %}

                        {% include "website/views/partials/direction.html" %}

                        {% include "website/views/partials/fillmode.html" %}
                    </div>

                    <div class="bg-white h-64 border-t border-gray-100 p-3 flex flex-col absolute w-full bottom-0">
                        <div 
                            id="output"
                            x-ref="output"
                            class="bg-gray-900 py-4 px-5 grow overflow-y-scroll hide-scrollbar flex flex-col text-cyan-500 font-mono break-lines print" 
                            x-text="computedClasses()"
                        >
                        </div>

                        <div class="flex w-full">
                            <button
                                @click="copy.classes()"
                                class="bg-cyan-500 p-2.5 px-4 hover:bg-opacity-60 transition justify-center flex gap-2 items-center shrink-0 active:bg-opacity-100 grow"
                            >
                                <img class="w-4.5 opacity-50" src="/images/icons/copy.svg" alt="">

                                Copy animation classes
                            </button>

                            <button
                                @click="copy.url()"
                                class="bg-violet-300 p-2.5 px-4 hover:bg-violet-200 transition shrink-0 text-violet-900 active:bg-violet-300"
                            >
                                Copy link
                            </button>
                        </div>

                        <span id="copyFeedback" class="pointer-events-none absolute bg-violet-500 text-violet-200 p-1 px-2 right-3 opacity-0">Copied to clipboard</span>
                    </div>
                </div>
            </div>
        </div>
        
        <p 
            :class="hint == 1 ? '':'scale-50 opacity-0 pointer-events-none'"
            x-bind:style="'top:'+Ypos+'px;'+'right:'+rightSize+'px'"
            x-cloak
            class=" z-20
            p-small text-white bg-gray-900 px-3 py-2 absolute after:border-transparent
            max-w-[10rem] after:content-[''] top-1/2 after:top-1/2 after:-translate-y-1/2
            after:absolute after:right-0 after:translate-x-full -translate-y-1/2
            after:border-[10px] after:border-l-[1rem] after:border-r-0
            after:border-l-gray-900 group-hover:pointer-events-auto 
            group-hover:opacity-100 group-hover:scale-100 transition duration-100 origin-right"
        >
            The Timing properties define when, how fast and how often the animation is executed.
        </p>
        
        <p 
            :class="hint == 2 ? '':'scale-50 opacity-0 pointer-events-none'"
            x-bind:style="'top:'+Ypos+'px;'+'right:'+rightSize+'px'"
            x-cloak
            class=" z-20
            p-small text-white bg-gray-900 px-3 py-2 absolute after:border-transparent
            max-w-[10rem] after:content-[''] top-1/2 after:top-1/2 after:-translate-y-1/2
            after:absolute after:right-0 after:translate-x-full -translate-y-1/2
            after:border-[10px] after:border-l-[1rem] after:border-r-0
            after:border-l-gray-900 group-hover:pointer-events-auto 
            group-hover:opacity-100 group-hover:scale-100 transition duration-100 origin-right"
        >
                The easing property specifies the speed curve of the transition effect.
        </p>
        
        <p 
            :class="hint == 3 ? '':'scale-50 opacity-0 pointer-events-none'"
            x-bind:style="'top:'+Ypos+'px;'+'right:'+rightSize+'px'"
            x-cloak
            class=" z-20
            p-small text-white bg-gray-900 px-3 py-2 absolute after:border-transparent
            max-w-[10rem] after:content-[''] top-1/2 after:top-1/2 after:-translate-y-1/2
            after:absolute after:right-0 after:translate-x-full -translate-y-1/2
            after:border-[10px] after:border-l-[1rem] after:border-r-0
            after:border-l-gray-900 group-hover:pointer-events-auto 
            group-hover:opacity-100 group-hover:scale-100 transition duration-100 origin-right"
        >
            The direction property sets whether an animation should play forward, backward, or alternate back and forth between playing the sequence forward and backward.
        </p>

        <p 
            :class="hint == 4 ? '':'scale-50 opacity-0 pointer-events-none'"
            x-bind:style="'top:'+Ypos+'px;'+'right:'+rightSize+'px'"
            x-cloak
            class=" z-20
            p-small text-white bg-gray-900 px-3 py-2 absolute after:border-transparent
            max-w-[10rem] after:content-[''] top-1/2 after:top-1/2 after:-translate-y-1/2
            after:absolute after:right-0 after:translate-x-full -translate-y-1/2
            after:border-[10px] after:border-l-[1rem] after:border-r-0
            after:border-l-gray-900 group-hover:pointer-events-auto 
            group-hover:opacity-100 group-hover:scale-100 transition duration-100 origin-right"
        >
            The Fillmode sets how the animation applies styles to its target before and after its execution.
        </p>
        
    </div>
{% endblock %}
