{% extends "website/views/layout.html" %}

{% block content %}
    <header x-data="{menu:false}" class="grid grid-cols-4 gap-4 lg:flex items-center bg-white text-gray-700 px-6 lg:px-16 justify-between w-full h-16 z-20 fixed top-0">
        <a class="mr-auto" href="/">
            <img class="w-32 transition mb-1 hidden lg:block" src="/images/icons/logo.svg" alt="">
            <img class="w-32 transition mb-1 lg:hidden" src="/images/icons/wave.svg" alt="">
        </a>

        <h1 class="uppercase mx-auto p text-gray-700 col-span-2 text-center leading-5 lg:hidden">Tailwindcss Animated</h1>

        {% include "website/views/partials/menu-mobile.html" %}

        {% include "website/views/partials/menu-desktop.html" %}
    </header>

    <span class="block bg-gradient-to-r from-violet-500 to-cyan-500 h-[2px] w-full fixed top-16 z-20"></span>

    <section class="relative flex items-center justify-center bg-white mt-16 px-6">
        <div 
            class="w-full h-full absolute animate-fade animate-ease-in animate-fill-backwards 
            animate-duration-[2000ms] animate-delay-1000"
        >
            <div 
                class="absolute flex items-center justify-center w-full h-full animate-ease-in 
                animate-duration-[2000ms] animate-spin animate-once animate-reverse"
            >
                <img 
                    class="w-[50vw] lg:w-[65vw] hidden md:block absolute right-1/2 -bottom-12 lg:-bottom-28 [@media(min-width:2150px)]:-bottom-48 max-w-screen-2xl -translate-x-16" 
                    src="/images/icons/wave.svg" 
                    alt=""
                >

                <img 
                    class="w-[80vw] hidden md:block absolute left-1/2 -top-24 lg:-top-36 2xl:-top-48 max-w-screen-2xl transform-x-16" 
                    src="/images/icons/wave.svg" 
                    alt=""
                >
            </div>
        </div>

        <div class="relative bg-white inline-block text-center max-w-xl my-24 md:my-32 xl:my-64 2xl:p-8 animate-fade-up animate-ease-out animate-duration-[500ms] animate-delay-300">
            <div class="animate-flip-up animate-once animate-ease-out animate-duration-[1500ms]">
                <h1 class="mb-4">Build your custom <br> animations with ease.</h1>
    
                <h4>
                    <a href="https://github.com/new-data-services/tailwindcss-animated#readme" class="text-violet-500 hover:text-violet-300 transition duration-75">
                        Add the animation plugin
                    </a> 
    
                    to your Tailwind CSS project and generate your animation using the 
    
                    <a href="/configurator.html" class="text-violet-500 hover:text-violet-300 transition duration-75">
                        configurator.
                    </a> 
                </h4>
            </div>
        </div>
    </section>

    <section class="py-16 lg:py-32 bg-gray-100 px-6 bg-opacity-50">
        <div class="grid lg:grid-cols-2 max-w-6xl mx-auto items-center gap-16">
            <div>
                <h2 class="mb-6">Get in full control.</h2>
                
                <p class="text-gray-700">
                    Set all the CSS animation properties with the interactive configurator without 
                    even touching the code. Opt in every property required for your needs.
                </p>
            </div>

            <ul class="text-violet-300 space-y-8 p-10 bg-gray-900">
                <li>animation-duration</li>
                <li>animation-delay</li>
                <li>animation-iteration-count</li>
                <li>animation-direction</li>
                <li>animation-fill-mode</li>
                <li>animation-timing-function</li>
            </ul>
        </div>
    </section>

    <section class="bg-gray-900 relative overflow-hidden py-16 lg:py-32 px-6 lg:px-16">
        <img class="w-[65vw] animate-spin animate-infinite animate-alternate animate-ease-in-out animate-duration-[5000ms] filter blur-[100px] hidden md:block absolute left-0 -translate-x-1/2 md:-translate-x-1/4 bottom-0 translate-y-16 md:translate-y-24" src="/images/icons/wave.svg" alt="">
        <img class="w-[80vw] animate-spin animate-infinite animate-alternate animate-ease-in-out animate-duration-[5000ms] animate-delay-1000 filter blur-[100px] hidden md:block absolute -right-[30vw] top-0 translate-x-24 -translate-y-16 md:translate-x-8 md:-translate-y-32 2xl:-translate-y-44" src="/images/icons/wave.svg" alt="">

        <span class="bg-[url('/images/wave-pattern.svg')] absolute left-0 right-0 top-0 bottom-0"></span>
        <div x-data="{intersect:false}" x-intersect:enter="intersect=true" x-intersect:leave="intersect=false" class="relative z-10 text-white grid md:grid-cols-2 xl:grid-cols-4 gap-16 items-center">
            <div :class="intersect ? 'animate-fade-left animate-ease-out':'opacity-0'">
            <h2 class="text-white mb-4" :class="intersect ? 'animate-fade-up animate-duration-1000 animate-delay-500':'opacity-0'">JIT support for tiny build sizes.</h2>

            <p class="text-white">
                You might be concerned that all the unused premade animations could slow down your application?<br>
                We’ve got you covered.<br>
                The Animation plugin makes use of Tailwinds 
                <a class="text-cyan-500 hover:opacity-70 whitespace-nowrap underline transition duration-75" target="_blank" href="https://tailwindcss.com/docs/upgrade-guide#migrating-to-the-jit-engine">Just-in-Time engine</a>,
                effectively removing everything that you did not use in your project.
            </p>
            </div>

            <img :class="intersect ? 'animate-fade-left animate-ease-out animate-delay-100':'opacity-0'" class="mx-auto" src="/images/spaceship.svg" alt="">

            <div :class="intersect ? 'animate-fade-left animate-ease-out animate-delay-200':'opacity-0'">
            <h2 class="text-white mb-4" :class="intersect ? 'animate-fade-up animate-duration-1000 animate-delay-700':'opacity-0'">Ready to go in like a minute.</h2>

            <p class="text-white">
                Install the plugin with a single command in your terminal. Take a look at the 
                <a class="text-cyan-500 hover:opacity-70 whitespace-nowrap underline transition duration-75" href="https://github.com/new-data-services/tailwindcss-animated#readme">readme</a>
                for a detailed guide.
            </p>
            </div>

            <div :class="intersect ? 'animate-fade-left animate-ease-out animate-delay-300':'opacity-0'" class="bg-gray-900 border-[5px] border-gray-700 p-5 h-64 flex">
                <div class="grow">
                    <span class="block text-gray-700">> npm install -D tailwindcss</span>
                    <span class="block text-gray-700">> npx tailwindcss init</span>
                    <span class="block text-cyan-500 after:content-[''] after:p-1 after:bg-white after:ml-1 after:py-px cursor-flash">
                        <span class="text-violet-500">
                            >
                        </span>
    
                        npm install -D tailwindcss-animated
                    </span>
                </div>

                <button 
                    class="shrink-0 hover:bg-gray-700/30 rounded p-2 w-10 group mb-auto duration-75 
                    cursor-pointer transition after:absolute focus:after:opacity-0 after:duration-1000 
                    focus:after:delay-500 focus:after:transition focus:after:content-[attr(data-feedback)] 
                    relative after:left-1/2 after:-translate-x-1/2 after:bottom-0 after:translate-y-full
                    after:text-sm active:bg-gray-700/50" 
                    data-feedback="Copied"
                >
                    <svg 
                        class="stroke-current text-gray-700 group-hover:text-white transition" 
                        @click="navigator.clipboard.writeText('npm install -D tailwindcss-animated');"
                        viewBox="0 0 20 20" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M15.625 4.375H3.125V19.375H15.625V4.375Z" stroke-miterlimit="10" stroke-linecap="round"/>
                        <path d="M5.625 0.625H19.375V16.875" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M6.875 8.125H11.875" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M6.875 11.875H11.875" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M6.875 15.625H11.875" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </section>

    <section class="py-16 lg:py-32 bg-white px-6">
        <div class="grid lg:grid-cols-2 max-w-6xl mx-auto items-center gap-16">
            <div>
                <h2 x-data="{intersect:false}" x-intersect:enter="intersect=true" x-intersect:leave="intersect=false" class="mb-6" :class="intersect ? 'animate-fade-up animate-duration-1000 animate-delay-300':'opacity-0'">Ships with the most commonly used premade animations.</h2>
                
                <p class="text-gray-500">
                    Quickly need some animations to spice up your application? <br>
                    Simply use some of the premade animations with different levels of complexity. 
                    You can still apply all of the available CSS properties to make it fit into your project perfectly.
                </p>
            </div>

            <ul x-data="{intersect:false}" x-intersect:enter="intersect=true" x-intersect:leave="intersect=false" class="text-violet-300 p-10 bg-gray-900 grid grid-cols-2 gap-4">
                <div class="flex flex-col gap-4">
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-100':''">wiggle</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-200':''">wiggle-more</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-300':''">rotate-y</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[400ms]':''">rotate-x</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-500':''">jump</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[600ms]':''">jump-in</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-700':''">jump-out</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[800ms]':''">spin</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[900ms]':''">ping</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-1000':''">pulse</li>
                </div>

                <div class="flex flex-col gap-4">
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[1100ms]':''">bounce</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[1200ms]':''">shake</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[1300ms]':''">fade</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[1400ms]':''">fade-down</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[1500ms]':''">fade-up</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[1600ms]':''">fade-left</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[1700ms]':''">fade-right</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[1800ms]':''">flip-up</li>
                    <li :class="intersect ? 'animate-fade-left animate-duration-100 animate-delay-[1900ms]':''">flip-down</li>
                </div>
            </ul>
        </div>
    </section>

    <section class="py-16 lg:py-32 bg-gray-100 bg-opacity-50 px-6">
        <div class="max-w-6xl mx-auto flex flex-col items-center">
            <h2 class="mb-16 max-w-4xl w-full">
                Still not convinced?  <br>
                Then take a look at the <a class="text-violet-500 hover:text-violet-300 transition duration-75" href="/configurator.html">animation configurator.</a>
            </h2>

            <img x-data="{intersect:false}" x-intersect:enter="intersect=true" x-intersect:leave="intersect=false" :class="intersect ? 'animate-fade-up animate-duration-1000 animate-delay-500':'opacity-0'" class="w-full mb-8" src="/images/configurator-screenshot.jpg" alt="">

            <ul class="h3 space-y-8 max-w-4xl mb-16 w-full">
                
                <li class="flex gap-4 items-start">
                    <img class="w-9 filter brightness-0 my-1.5" src="/images/icons/wave.svg" alt="">

                    Control all the plugins' options with an interactive interface
                </li>
                
                <li class="flex gap-4 items-start">
                    <img class="w-9 filter brightness-0 my-1.5" src="/images/icons/wave.svg" alt="">

                    Play your animation inside the editor to see it in action
                </li>
                
                <li class="flex gap-4 items-start">
                    <img class="w-9 filter brightness-0 my-1.5" src="/images/icons/wave.svg" alt="">

                    Check your animations look on a button, image, text and many more
                </li>
                
                <li class="flex gap-4 items-start">
                    <img class="w-9 filter brightness-0 my-1.5" src="/images/icons/wave.svg" alt="">

                    View all premade animations and customize them on a fly
                </li>
                
                <li class="flex gap-4 items-start">
                    <img class="w-9 filter brightness-0 my-1.5" src="/images/icons/wave.svg" alt="">

                    Get all the required classes with just one click and simply paste them into your projects code to recreate that exact animation
                </li>
            </ul>

            <a href="/configurator.html" class="inline-flex items-center gap-2 py-4 px-6 bg-violet-500 text-white hover:bg-opacity-80 h4 group">
                Try now

                <img class="w-6 group-hover:translate-x-1 transition" src="/images/icons/arrow-right-white.svg" alt="">
            </a>
        </div>
    </section>

    <footer class="bg-gray-900 relative overflow-hidden py-16 lg:py-32 lg:px-48 px-6">
        <img class="w-[80vw] filter blur-[150px] hidden md:block absolute -right-[30vw] top-0 animate-spin animate-infinite animate-alternate animate-ease-in-out animate-duration-[10000ms]" src="/images/icons/wave.svg" alt="">

        <span class="bg-[url('/images/wave-pattern.svg')] absolute left-0 right-0 top-0 bottom-0"></span>
        <div class="relative z-10 text-white gap-16 sm:items-center flex justify-between flex-col sm:flex-row">
            <div class="flex flex-col gap-4">
                <a class="inline-block font-bold text-2xl border-b-[3px] border-white mr-auto hover:border-cyan-500" href="/configurator.html">Configurator</a>

                <a class="inline-block font-bold text-2xl border-b-[3px] border-white mr-auto hover:border-cyan-500" href="https://github.com/new-data-services/tailwindcss-animated#readme">Readme</a>

                <a class="inline-block mt-4" href="https://new-data-services.de/impressum" title="Legal notice" target="_blank">Legal notice</a>
            </div>

            <div class="flex flex-col h-full justify-center">
                <img class="w-48 mb-8" src="/images/rgb_nds-logo-white.svg" alt="">

                <div class="flex w-full justify-between">
                    <a href="https://github.com/new-data-services" title="NEW DATA SERVICES on GitHub" target="_blank" class="hover:opacity-70 transition duration-75">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor">
                            <path d="M15 .05a15 15 0 0 0-4.74 29.23c.75.14 1.02-.32 1.02-.72l-.02-2.55C7.1 26.9 6.21 24 6.21 24c-.68-1.73-1.67-2.2-1.67-2.2-1.36-.93.1-.9.1-.9 1.51.1 2.3 1.54 2.3 1.54 1.34 2.29 3.52 1.63 4.37 1.24a3.2 3.2 0 0 1 .95-2C8.93 21.3 5.43 20 5.43 14.27a5.8 5.8 0 0 1 1.54-4.03 5.4 5.4 0 0 1 .15-3.97s1.26-.4 4.13 1.54a14.37 14.37 0 0 1 7.5 0c2.87-1.94 4.13-1.54 4.13-1.54.82 2.07.3 3.6.15 3.97a5.79 5.79 0 0 1 1.54 4.03c0 5.76-3.5 7.03-6.85 7.4.54.46 1.02 1.38 1.02 2.77l-.02 4.12c0 .4.27.87 1.03.72A15 15 0 0 0 15 .05Z"/>
                        </svg>
                    </a>

                    <a href="https://new-data-services.de/" title="NEW DATA SERVICES Website" target="_blank" class="hover:opacity-70 transition duration-75">
                        <img src="/images/icons/web.svg" alt="">
                    </a>

                    <a href="https://instagram.com/new_data_services_oldb/" title="NEW DATA SERVICES on Instagram" target="_blank" class="hover:opacity-70 transition duration-75">
                        <img src="/images/icons/instagram.svg" alt="">
                    </a>

                    <a href="https://facebook.com/newdataservices/" title="NEW DATA SERVICES on Facebook" target="_blank" class="hover:opacity-70 transition duration-75">
                        <img src="/images/icons/facebook.svg" alt="">
                    </a>
                </div>
            </div>
        </div>

    </footer>
{% endblock %}
